<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Chat Rooms</title>
  </head>
  <body>
    <textarea id="chat-log" cols="100" rows="20"></textarea>
    <br />
    <input type="text" id="chat-message-input" size="100" />
    <br />
    <br />
    <input type="button" name="" id="chat-message-submit" value="send" />
    <script>
      var ws = new WebSocket("ws://127.0.0.1:8000/ws/sc/");
      ws.onopen = function () {
        console.log("WebSocket Connected");
      };

      ws.onmessage = function (event) {
        const data = JSON.parse(event.data);
        document.getElementById("chat-log").value +=">>>" data.msg + "\n";
      };

      ws.onclose = function () {
        console.log("Websocket Closed");
      };

      document.getElementById("chat-message-submit").onclick = function (
        event
      ) {
        const messageInputDom = document.getElementById("chat-message-input");
        const message = messageInputDom.value;
        ws.send(
          JSON.stringify({
            msg: message,
          })
        );
        messageInputDom.value = "";
      };
    </script>
  </body>
</html>
